@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layer-padding {
    @apply w-full px-10 sm:px-14 md:px-24 lg:px-44 xl:px-96
  }
  .default-padding {
    @apply px-5 sm:px-14 md:px-24 lg:px-44 xl:px-80
  }
  .nav-link-active {
    @apply !text-white !bg-primary;
  }
  .width-padding {
    @apply w-full  md:w-[90vw] lg:w-[90vw] 2xl:w-[72vw] 1.5xl:w-[90vw] xl:w-[90vw] sm:w-[95vw] mx-auto px-5 !text-gray-600
  }
  .text-size {
    @apply !text-base !text-gray-600
  }
  .text-color {
    @apply !text-indigo-700
  }
  .font-navbar{
    @apply !text-base !font-semibold text-black
  }
  .text-title {
    @apply !text-3xl !font-medium !text-black
  }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
